/* Bootstrap Table */ 
.bootstrap-table .fixed-table-pagination>.pagination-detail .page-list {
   display: none;
}
.bootstrap-table .fixed-table-container .table thead th {
   vertical-align: top;
   padding: 0 10px;
}
.bootstrap-table .fixed-table-container .table td, .bootstrap-table .fixed-table-container .table th {
   vertical-align: top;
   white-space: nowrap;
   width: 1%;
   font-size: 13px;
}

/* Bootstrap Table Search */ 
.form-control {
   font-size: 13px;
   font-size: 15px;
}

/* Pagination */ 
.page-item.active .page-link {
   background-color: #000000;
   border-color: #000000;
}

.page-link {
   color: #000000;
}

.footer {
   position:absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}